<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IService">
                    <security defaultAlgorithmSuite="Basic256Sha256Rsa15" authenticationMode="MutualCertificate"
                        requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2222/" binding="customBinding"
                bindingConfiguration="CustomBinding_IService" contract="CalculationService.IService"
                name="CustomBinding_IService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA+nenXJf2jG19Cl1XU7tzhk7cQiMgAAAAAQAAAFoCAAAwggJWMIIBv6ADAgECAhRvNtI8jYrZC2I4DUZcpwCZ1HYiATANBgkqhkiG9w0BAQsFADA9MQswCQYDVQQGEwJJUjENMAsGA1UECAwERkFSUzEPMA0GA1UEBwwGU0hJUkFaMQ4wDAYDVQQKDAVNUEFSUzAeFw0yMDA1MDEyMTA0NDhaFw0yNTA0MzAyMTA0NDhaMD0xCzAJBgNVBAYTAklSMQ0wCwYDVQQIDARGQVJTMQ8wDQYDVQQHDAZTSElSQVoxDjAMBgNVBAoMBU1QQVJTMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCQ51HrULmHGZ9W90U3SUX0kZ1P7NHW2BF+y1mdeWhxGGI1COrOKJnDcXIdXTEDzeoLYxoX2cn0w2hGGkmtywNf2eiYWJ9SYQNtB6Ekwf91X+oi0+LXIj26GWDROv7iaKHdG1f387qMOne0UNgFKt0CKmapNJBZqnPK0zvjndWUdQIDAQABo1MwUTAdBgNVHQ4EFgQUrxnd8K3GAvvcS+6SBwtLTejGWb8wHwYDVR0jBBgwFoAUrxnd8K3GAvvcS+6SBwtLTejGWb8wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOBgQAXzHOX77Os1pv5z6CB7MvC0Z12S2dYOpa2M+8vwmVpcGTVXqKQwtejbnRtZes+YXJHxLy1w7SxuaBCr+/97bdSpjxuGGkoAPCRTCo6hiSg5MHUvvTfrvUtBMB3FKKgCH+7HvQtPgYVV7cua5ilmaVKpEi1o+f4mAwYrwQz5iKMOA==" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>