<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="AuthenticationUser" value="rider"/>
    <add key="AuthenticationPass" value="GG209309409xqbe..\\"/>
    <add key="NwmsUri" value="https://dev.nwms.ir/v2/ws/"/>
    <add key="SelfHostUrls" value="http://localhost:2222"/>
    <add key="ExplicitAuthTokenHeader" value="1665af7e-4272-43d6-ad8f-4fa5d070a186/bcd69560a3bdbc83bf877beeab574c5f24dced6bc17b23ff03168e1be4851a9bc6e72d157d02285662d8edf96455f357cdcf3526851ae92e07a1f7e8818de623"/>
  </appSettings>
  <system.diagnostics>
       <sources>
         <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
           <listeners>
             <add name="xml" />
           </listeners>
         </source>
         <source name="System.ServiceModel.MessageLogging">
           <listeners>
             <add name="xml" />
           </listeners>
         </source>
       </sources>
       <sharedListeners>
         <add name="xml" type="WcfService.Logging.NLogTraceListener, WcfService" />
       </sharedListeners>
    </system.diagnostics>
<system.serviceModel>
  
    <diagnostics>
      <messageLogging
      logEntireMessage="true"
      logMalformedMessages="true"
      logMessagesAtServiceLevel="true"
      logMessagesAtTransportLevel="true"
      maxMessagesToLog="300000"
      maxSizeOfMessageToLog="200000"/>
    </diagnostics>

    <services>
      <service name="WcfService.Service" behaviorConfiguration="BitaServiceBehavior">
        <endpoint address="/" contract="WcfService.IService" binding="customBinding" bindingConfiguration="BitaSampleServiceBinding" >
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="BitaServiceBehavior">
          <serviceDebug />
          <serviceMetadata httpGetEnabled="true" />
          <serviceCredentials>

            <clientCertificate>
              <certificate findValue="mehrepars" storeLocation="LocalMachine" x509FindType="FindBySubjectName" storeName="TrustedPeople" />
              <authentication certificateValidationMode="None" trustedStoreLocation="LocalMachine"/>
            </clientCertificate>

            <serviceCertificate findValue="MPARS"  storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <customBinding>
        <binding name="BitaSampleServiceBinding">
          <security defaultAlgorithmSuite="Basic256Sha256Rsa15"
         authenticationMode="MutualCertificate"
          requireDerivedKeys="false" securityHeaderLayout="Lax"
         includeTimestamp="true"

         messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
          requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <textMessageEncoding writeEncoding="utf-8" />
          <httpTransport maxBufferPoolSize="20000000" maxBufferSize="20000000"
         maxReceivedMessageSize="20000000"/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument enabled="true">
      <files>
        <add value="Service.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>