<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="SystemLogFile" xsi:type="File" fileName="SystemLogTrace.txt" />
    <target name="AllLogFile" xsi:type="File" fileName="AllTrace.txt" />
    <target name="WcfTraceLogFile" xsi:type="File" fileName="WcfTrace.txt" />
    <target name="logfile" xsi:type="File" fileName="log.txt" />
    
    <target name="logconsole" xsi:type="Console" />
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"
         requireAuth="true"
         username="myUserName"
         password="coolpassword"/>
    </target>
  </targets>
  
  <rules>
    <logger name="*"  minlevel="Info" writeTo="logconsole" />
    <logger name="WcfService.Service"   writeTo="SystemLogFile" />
    <logger name="*"   writeTo="AllLogFile" />
    <logger name="WcfService.Logging.NLogTraceListener" writeTo="WcfTraceLogFile" />
    
    <logger name="*" minlevel="Info" writeTo="elastic" />
    <logger name="" minlevel="Trace" writeTo="logfile" />
  </rules>
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
</nlog>